.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-img {
  height: 50vh;
}
.product-img .main-img {
  width: 90%;
}

@media (min-width: 576px) {
  .product-3d-model__modal {
    max-width: 1000px !important;
    padding: 0 20px;
  }
}
