.signup-form {
  padding: 50px 0;
  text-align: center;
}
.signup-form__row {
  justify-content: center;
}
.form-content {
  text-align: left;
}
.form-btn {
  text-align: center;
  padding: 10px 15px 0px 15px;
}
.form-btn__login {
  color: darkgray;
  font-size: 14px;
}
.form-btn__login:hover {
  color: gray;
  text-decoration: none;
}
