#icon {
    background-image: url('../../assets/images/icon.png');
    height: 60px;
    width: 60px;
    background-size: 60px;
}

header {
    background-color: #BCD4DF;
    font-size: medium;
}