.adjust-page {
  padding: 20px 0;
}

.admin-adjust {
  padding: 45px 25px 80px;
}

.company-adjust {
  padding: 45px 25px 80px;
}
.adjust-filter {
  margin-bottom: 20px;
}
.filter-form,
.filter-form__content {
  display: flex;
}
.filter-form__content {
  margin-right: 30px;
}

.filter-form__content .content__ttl {
  margin-right: 10px;
}
#filter-month {
  width: 100px;
}
.adjust-block {
  border: solid 2px #dee2e6;
  border-radius: 20px;
  padding: 30px;
}

.adjust-content {
  margin: 0 20px 30px 20px;
}
.content__profit {
  font-size: 25px;
}
.content-highlight {
  font-size: 30px;
  font-weight: 600;
  margin: 0 15px;
  color: cadetblue;
}

.content__profit-detail {
  margin: 0 15px;
  color: darkgrey;
}

.content__toggle-btn {
  position: relative;
  top: -25px;
  left: -20px;
  float: right;
}

.profit-table {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}
